body {
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы */
  overflow-x: hidden; /* Скрываем горизонтальную полосу прокрутки */
}

header {
  width: 100%; /* Убедитесь, что заголовок занимает всю ширину */
  box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

main {
  width: 100%;
  box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

section {
  display: flex;
  flex-direction: column; /* Изменено на column для правильного отображения заголовков */
  width: 100%;
  box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.scrollContainer {
  width: 100%;
  max-width: 100%; /* Ограничиваем максимальную ширину */
  height: 364px;
  padding: 32px;
  overflow-x: auto; /* Используем auto для автоматического отображения полосы прокрутки */
  display: flex; /* Используем Flexbox для выравнивания элементов в линию */
  box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

/* Убираем полосу прокрутки */
.scrollContainer::-webkit-scrollbar {
  display: none; /* Скрываем полосу прокрутки */
}

.scrollable-item {
  display: flex;
  flex: 0 0 auto; /* Элементы не будут сжиматься */
  width: calc(25%); /* Ширина каждого элемента */
  margin-right: 16px; /* Отступ между элементами */
}

.film {
  height: 300px;
  width: auto; /* Исправлено: добавлен 'px' для ширины */
}

.news-header {
  display: flex;
  flex-direction: column;
}

.new-srials {
  display: flex;
  flex-direction: column; /* Изменено на column для правильного отображения */
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
}

.arraivel_time {
  width: 90%;
  margin: 20px auto; /* Центрируем блок с датами выхода */
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto; /* Центрируем таблицу */
  padding: 14px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #24232E;
}